// Colors
$standard: #EAEAEA;
$standard-grey: #F4F8FB;
$dark: #343434;
$dark-grey: #484848;
$white: #FFFFFF;
$border: #E7F0F8;

$blue-20: #A5AFBB;


// Typography Colors
$standard-text: #3D4A56;
$nav-text: #34495E;
$blue: #1975FF;
$orange: #FFA319;